h1 {
	text-align: center;
	color : #05ACD8;
	font-family: sans-serif;
	font-size: 50px;
	margin-top: 100px;
}

input[type="text"] {
    
  font-family: sans-serif;
  font-size: 22px;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}

.content{
	padding: 10px;
}

.orange-flat-button {
    position: relative;
    padding: 10px;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #f39c12;
    border: 0;
    border-bottom: 2px solid #e8930c;
    cursor: pointer;
    box-shadow: inset 0 -2px #e8930c;
}

.url {
	text-align: center;
	color : #05ACD8;
	font-family: sans-serif;
	font-size: 20px;
	margin-top: 50px;
}